*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia;
    
}

body{
    display: flex;
    flex-wrap: wrap;   
}


h1{
    background-color: #6c7a89;
    width: 100%;
    text-align: center;
    font-size: 50px;
    color: rgb(204, 198, 198);    
}


.container-geral-4{
    
    width: 100vw;
    height: 100vh;
    background: #9ca5af;    
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    display: flex;

}

.inputs-cadastro{    
          
    flex: 1;
    text-align: center;    

}

.inputs-cadastro input{
    
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 10px;
    
}

.inputs-cadastro h3{

    margin-top: 1rem;      

}

.inputs-cadastro button{

    padding: 0.5rem;
    margin: 1rem;
    font-size: large;
    background-color: #9ca5af;
    border: none;
    border-radius: 10px;

}

.inputs-cadastro button:hover{

    background-color: #fff;
    color: black;
    cursor: pointer;
}

.inputButton:hover{

    background-color: #fff;
    color: black;
    cursor: pointer;
}

.container-porta-cards-cad{
    
    background-color: #6c7a89;    
    width: 400px;
    height: 500px;    
    color:#040405;
    justify-items: center;
    margin-top: 2rem;

}

.container-geral-4 h1{

    margin-top: -4rem;
    
}

.menuDropDown{
           
    background-color: #b1c2d4;
    border-radius: 5px;
    margin-top: 10px;
    border: .5px solid #fff;
    height: 60px;
    overflow: auto; /*para colocar o conteudo dentro do box*/
    display: none;
}

::-webkit-scrollbar-thumb{
    background-color: #6c7a89;
    border-radius: 5px;
}

::-webkit-scrollbar{
    background-color: #9ca5af;
    width: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.item{
    
    border-radius: 10px;
    height: 20px;
    padding: 0px 5px;
    box-sizing: border-box;
    transition: .3s;
    cursor: pointer;
}

.item:hover{
    background-color: #6c7a89;
    padding-left: 7px;
}
